In [1]:
# importing the libraries and loading the Data_Set 
import pandas as pd 
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
# checking if there are any null values
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [3]:
# we can check the outliers using the describe function
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [4]:
# checking the target varible if it has outliers or not 
df["Outcome"].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [5]:
X = df.drop(["Outcome"] , axis = "columns") # setting the input variable
y = df["Outcome"] # setting the target variable

In [6]:
# applyint the scandardscaler we can also use min_max_scaler
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_scaled = scaler.fit_transform(X) # fit transform will also apply the scaler 
X_scaled[:3]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415]])

In [7]:
# splitting the Data_set into the train test and split 
from sklearn.model_selection import train_test_split

# we used the stratify parameter as there are some imbalance in our data_set
X_train , X_test , y_train , y_test = train_test_split(X_scaled , y , stratify = y , random_state= 10)

In [8]:
# checking the number of rows and columns in X_train
X_train.shape

(576, 8)

In [9]:
# Importing some librraries we will use the decision tree and check the cross_val_score of the classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores = cross_val_score(DecisionTreeClassifier() , X , y , cv=5) # cv =5 means 5 folds
scores.mean()

0.7071555895085307

In [10]:
# importing the Bagging_classifier
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples = 0.8,
    oob_score = True,
    random_state = 0
)
bag_model.fit(X_train , y_train)
bag_model.oob_score_ # the accuracy score is stored in oob_score parameter

0.7534722222222222

In [11]:
# checking the score of our model
bag_model.score(X_test , y_test)

0.7760416666666666

In [ ]:
scores = cross_val_score(bag_model , X , y , cv=5) #cross_validating the bagging model
scores.mean()

In [ ]:
# now we want to check how good will the RandomForestClassifier performs
from sklearn.ensemble import RandomForestClassifier
scores = cross_val_score(RandomForestClassifier() , X , y , cv=5)
scores.mean()